body {
background-color: rgb(192, 214, 233);
margin: 0;

}

header {
    border: 5px solid navy;
    padding: 20px; 
    margin: 20px;
    border-radius: 10px;
}

h1 {
    color: #5C2555;
    padding-left: auto;
    /* padding-left: auto; */
}


ul {
    padding: 0;
    margin: 0;

}
li {
    list-style: none;
    display: 
}

